.dropdown{
  position: relative;
  display: inline-block;
  margin: 0;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownContent  a{
  
  color: black;
  padding: 12px 10px;

  text-decoration: none;
  display: block;
}


/* hover */
.dropdownContent a:hover{
  background-color: #ddd;
}
.dropdown:hover .dropdownContent{
  display: block;
}
/* navbar-nav ul style */
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.ul li{
  float: left;
  color: #ddd;
}
.ul a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
